#ProfilePic{
	height:25%;
	width:100%;
    float:left;
    top:0;
	border-radius: 10px;
}
#Profilebar{
	height: 1000px;
	width:20%;
	float:left;
	background-color: gray;
	border-radius: 10px;
}
#welcome{
    color:white;
	text-align: center;
}

.navbar-custom {
	background-color: navy;
	color: white;
}
.navbar-custom .navbar-nav>li>a {
  color: white;
}
.color-me {
	color: white;
}
#Goals{
	background-color:gray;
    height:1000px;
	width:79%;
	margin-left:20.5%;
	border-radius: 10px;
}

