#ProfilePic{
	height:25%;
	width:100%;
    float:left;
    top:0;
	border-radius: 10px;
}
#Profilebar{
	height: 1000px;
	width:20%;
	float:left;
	background-color: gray;
	border-radius: 10px;
}
#welcome{
    color:white;
	text-align: center;
}

.navbar-custom {
	background-color: #00004C;
	color: white;
}
.navbar-custom .navbar-nav>li:hover {
	background-color: lightgray;
}
.navbar-custom .navbar-nav>li>a {
  color: white;
}
.navbar-custom .navbar-nav>li>a:hover {
	color: royalblue;
}
.navbar-custom .navbar-brand {
	color: white;
}
.navbar-custom .navbar-brand:hover {
	color: royalblue;
	background-color: lightgray;
}
#Goals{
	background-color:white;
    height:1000px;
	width:79%;
	margin-left:20.5%;
	border-radius: 10px;
}
.progress{
    margin-left:0.5%;
	margin-right:0.5%;
}
#GoalLabel{
	margin-left:0.5%;
	color:Black;
}
#Goal1{
	color:Black;
	margin-left:0.5%;
}
body {
    background: url(http://i.imgur.com/pl4LzGd.jpg?1) no-repeat center center fixed;
    background-size: 100% 100%;
}
#Profilebar{
	background-color: white;
}
#welcome{
	color:Black;
}
#ProfilePic{
	border-color: black;
	border-style: groove;
	border-width: 1px;
	border-radius: 0px;
}