#ProfilePic{
	height:25%;
	width:100%;
    float:left;
    top:0;
	border-radius: 10px;
}
#Profilebar{
	height: 1000px;
	width:20%;
	float:left;
	background-color: gray;
	border-radius: 10px;
}
#welcome{
    color:white;
	text-align: center;
}

.navbar-custom {
	background-color: #00004C;
	color: white;
}
.navbar-custom .navbar-nav>li:hover {
	background-color: lightgray;
}
.navbar-custom .navbar-nav>li>a {
  color: white;
}
.navbar-custom .navbar-nav>li>a:hover {
	color: royalblue;
}
.navbar-custom .navbar-brand {
	color: white;
}
.navbar-custom .navbar-brand:hover {
	color: royalblue;
	background-color: lightgray;
}
#Goals{
	background-color:gray;
    height:1000px;
	width:79%;
	margin-left:20.5%;
	border-radius: 10px;
}
<<<<<<< HEAD
.progress{
    margin-left:0.5%;
	margin-right:0.5%;
}
#GoalLabel{
	margin-left:0.5%;
	color:White;
}
#Goal1{
	color:white;
	margin-left:0.5%;
}

