body {
    background: url(http://imgur.com/wzWD2yK) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}