body {
    background: url(http://i.imgur.com/wzWD2yK.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	Height: 2000px;
	Width: 1800px;
}

