#ProfilePic{
	height:25%;
    float:left;
    top:0;
	margin-left: 15%;
	border-color: black;
	border-style: solid;
	border-bottom-width: 1px;
}
#Profilebar{
	height: 1000px;
	float:left;
	padding: 10px;
	background-color: whitesmoke;
	border-color: black;
	border-style: solid;
	border-width: 0px;
	border-right-width: 1px;
}
#welcome{
    color:black;
	text-align: center;
}
.navbar-custom {
	background-color: #00004C;
	color: white;
}
.navbar-custom .navbar-nav>li:hover {
	background-color: lightgray;
}
.navbar-custom .navbar-nav>li>a {
  color: white;
}
.navbar-custom .navbar-nav>li>a:hover {
	color: royalblue;
}
.navbar-custom .navbar-brand {
	color: white;
}
#Goals{
	background-color:white;
    height:1000px;
	border-radius: 10px;
}
.progress{
    margin-left:0.5%;
	margin-right:0.5%;
}
#GoalLabel{
	margin-left:0.5%;
	color:Black;
}
#Goal1{
	color:Black;
	margin-left:0.5%;
}
body {
    background: url(http://i.imgur.com/pl4LzGd.jpg?1) no-repeat center center fixed;
    background-size: 100% 100%;
}
#GoalTable{
	border-width: 2px;
	border-color: black;
	border-style: ridge;
}
#removeButton{
    position: relative;
    left: -288px;
	bottom: 1px;
}
.progress{
	border-style: ridge;
	border-width: 2px;
	border-color: black;
}
#Check1{
	position: relative;
	height: 14px;
	width: 14px;
	top: 1px;
	bottom: 1px;
	left: 1px;
}