body {
    background: url(https://scontent-iad3-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/11212717_924385244317884_7969368815854396110_o.jpg) no-repeat center center fixed;
    padding-bottom: 5px;
}

.container{
   margin-top: 5%;
   background-color: white;
    border-radius: 10px;
    border-width: 5px;
    border-color: navy;
    position: relative;
    

}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#AHSDpic{
    height: auto;
    width: auto;
}
